<div>
  <div class="background-image-container mt-ncs">
    <div class="container">
      <div class="jumbotron jumbotron-fluid">
        <h1 class="display-3">Agenda Aí</h1>
        <p class="lead">Não espere pelo lanche, faça ele esperar por você</p>
        <ul>
          <li>Facilidade para agendar pedidos de lanches de forma antecipada.</li>
          <li>Maior organização para cantinas escolares e seus clientes.</li>
          <li>Receba notificações sobre pedidos e horários de retirada.</li>
        </ul>
        <p>Faça parte do sistema que conecta escolas, cantinas e alunos com agilidade e praticidade.</p>
      </div>
    </div>
    <picture class="background-image">
      <img alt="Banner Agenda Aí" [src]="'assets/agendaai/images/background.png'" />
    </picture>
    <small class="credits">Photo by <a href="https://www.pexels.com">&#64;pa_images</a></small>
  </div>

  <div class="container mt-3">
    <h2 class="text-center">Estabelecimentos Parceiros</h2>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card h-100 d-flex align-items-center">
          <div class="card-body d-flex">
            <img src="assets/agendaai/images/pa_lanches.png" class="card-img-left" alt="Estabelecimento 1">
            <div class="card-info ml-3">
              <h5 class="card-title">PA Lanches</h5>
              <p class="card-text">Avenida Tininha de Sá Urtiga, 549 - Boa Sorte</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card h-100 d-flex align-items-center">
          <div class="card-body d-flex">
            <img src="assets/agendaai/images/logo_ifpi.png" class="card-img-left" alt="Estabelecimento 2">
            <div class="card-info ml-3">
              <h5 class="card-title">Cantina IFPI</h5>
              <p class="card-text">Avenida Pedro Marques - Parque Industrial</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card h-100 d-flex align-items-center">
          <div class="card-body d-flex">
            <img src="assets/agendaai/images/miranda_lanches.png" class="card-img-left" alt="Estabelecimento 3">
            <div class="card-info ml-3">
              <h5 class="card-title">Lanchonete Miranda</h5>
              <p class="card-text">Avenida Pedro Marques - Parque Industrial</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>